@page "/sample"

<style>
    .show-border{
        border: solid 1px black;
    }
    .out-frame {
        border: solid 1px gray;
        position: absolute;
        z-index: -1;
        margin-top: 30px;
        border-radius: 5px;
        width: 85%;
        height: 900px;
        margin-left: -10px;
    }

    .head-frame{
        border-radius: 5px;
        background-color: skyblue;
        height: 100px;
        text-align:center;
    }

    .body-frame{
        border-radius: 5px;
        height: 800px;
        text-align: center;
    }
</style>

<div class="out-frame"></div>

<div class="container-fluid head-frame show-border">
    HEAD
</div>
<div class="container-fluid body-frame">
    BODY
</div>


@code {
    
}
