@page "/"

<style>
    @* Frame *@
    #out-frame {
        border: solid 1px gray;
        position: absolute;
        z-index: -1;
        margin-top: 30px;
        border-radius: 5px;
        width: 85%;
        height: 900px;
        margin-left: -10px;
    }

    @* Head Area *@
    #head-frame {
        border-radius: 5px;
        background-color: skyblue;
        height: 100px;
        justify-content: space-between;
        align-items: center;
    }
    .head-select-frame {
        min-width: 131px;

    }
    .head-select {
        background-color: rgba( 255, 255, 255, 0.5 );
        border: none;
    }

    @* Body Area *@
    #body-frame {
        border-radius: 5px;
        height: 800px;
        text-align: center;
    }

    #b1-s1, #b1-s2, #b1-s3, #b1-s4, #b1-s5{
        height: 100%;
    }

    #body1-frame {
        height: 100px;
        display: flex;
        line-height: 5.5em;
    }
    #b1-s1 {
        width: 30%;
    }
    #b1-s2 {
        width: 20%;
        line-height: 2rem;
    }
    #b1-s3 {
        width: 25%;
    }
    #b1-s4 {
        width: 20%;
        min-width: 231.31px;
    }
    #b1-s5 {
        width: 13%;
        min-width: 140.44px;
    }

    .con2-frame {

    }
    .con3-frame {
    }

    @* Custom *@
    .show-border {
        border: solid 1px black;
    }
    .show-border2{
        border:dashed 1px blue;
    }
    .head-ma {
        margin-left: 13%;
    }
    .btnSave {
        margin-bottom: 12px;
    }
    .color-white{
        color: white;
    }
    .btn-up {
        height: 4rem;
    }
</style>

<div id="head-frame" class="container-fluid row">
    <div class="form-floating col-md-2 col-sm-1 head-select-frame">
        <select class="form-select head-select">
            <option value="1">A-LINE</option>
            <option value="2">B-LINE</option>
            <option value="3">C-LINE</option>
            <option value="4">D-LINE</option>
        </select>
        <label for="floatingSelect">라인 선택</label>
    </div>
    <div class="form-floating col-md-2 col-sm-1 head-select-frame">
        <select class="form-select head-select">
            <option value="1">A-01</option>
            <option value="2">B-02</option>
            <option value="3">C-03</option>
            <option value="4">D-04</option>
        </select>
        <label for="floatingSelect">NG 슈트 선택</label>
    </div>    
    <div class="form-floating col-md-2 col-sm-3 head-select-frame">
        <select class="form-select head-select">
            <option value="1">설정 하지 않음</option>
            <option value="2">설정함</option>
        </select>
        <label for="floatingSelect">참고 라인 선택</label>
    </div>
    <button type="button" class="btn btn-primary head-ma col-md-1 btnSave col-sm-2">▲<br />SAVE</button>
</div>


@code
{

}