@page "/test"

<div id="head-frame" class="row container-fluid">
    <div class="form-floating col-sm-3 head-select-frame ma5ud">
        <select class="form-select head-select">
            <option value="1">A-LINE</option>
            <option value="2">B-LINE</option>
            <option value="3">C-LINE</option>
            <option value="4">D-LINE</option>
        </select>
        <label for="floatingSelect">라인 선택</label>
    </div>
    <div class="form-floating col-sm-3 head-select-frame ma5ud">
        <select class="form-select head-select">
            <option value="1">A-01</option>
            <option value="2">B-02</option>
            <option value="3">C-03</option>
            <option value="4">D-04</option>
        </select>
        <label for="floatingSelect">NG 슈트 선택</label>
    </div>    
    <div class="form-floating col-sm-4 head-select-frame ma5ud">
        <select class="form-select head-select">
            <option value="1">설정 하지 않음</option>
            <option value="2">설정함</option>
        </select>
        <label for="floatingSelect">참고 라인 선택</label>
    </div>
    <div id="head-section1" class="col-sm-1">
        <button type="button" class="btn btn-primary btnSave ma5ud">▲<br />SAVE</button>
    </div>
    
</div>






<main id="body-frame" class="container-fluid">
    <div id="body1" class="row">
        <div id="body1-section1" class="col-sm-3">
            분류 계획 &lt; <span id="plan-name">@plan</span> &gt;
        </div>
        <div id="body1-section2" class="col-sm-2">
            <input type="text" class="form-control"  placeholder="분류 코드 찾기..">
        </div>
        <div id="body1-section3" class="col-sm-2">
            <div class="form-floating">
                <select class="form-select">
                    <option selected>@plan</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <label>분류 계획 선택</label>
            </div>
        </div>




        <div id="body1-section4" class="col-sm-3">
            <button type="button" class="btn btn-success btn-up btn-sm">계획 변경</button>
            <button type="button" class="btn btn-secondary btn-up btn-sm">추가</button>
            <button type="button" class="btn btn-secondary btn-up btn-sm">수정</button>
            <button type="button" class="btn btn-danger btn-up btn-sm">삭제</button>
        </div>
        <div id="body1-section5" class="col-sm-2">
            <button type="button" class="btn btn-primary btn-up btn-sm">업로드</button>
            <button type="button" class="btn btn-primary btn-up btn-sm">다운로드</button>
        </div>





    </div>

    <hr class="hr" />


    <div id="body2" class="row">
        <div id="body2-section1" class="col-md-10">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">CHUTE ID</th>
                        <th scope="col">CHUTE 명칭</th>
                        <th scope="col">종속 라인</th>
                        <th scope="col">그룹 인덱스</th>
                        <th scope="col">할당 비율</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">A-01</th>
                        <td>A-01</td>
                        <td>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>설정하지 않음</option>
                                <option value="1">설정 OK</option>
                            </select>
                        </td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">A-01</th>
                        <td>A-01</td>
                        <td>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>설정하지 않음</option>
                                <option value="1">설정 OK</option>
                            </select>
                        </td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">A-01</th>
                        <td>A-01</td>
                        <td>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>설정하지 않음</option>
                                <option value="1">설정 OK</option>
                            </select>
                        </td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th scope="row">A-01</th>
                        <td>A-01</td>
                        <td>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>설정하지 않음</option>
                                <option value="1">설정 OK</option>
                            </select>
                        </td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="body2-section2" class="col-md-2">
                <button type="button" class="btn btn-primary ma5ud">설정 저장</button><br />
                <button type="button" class="btn btn-dark ma5ud">펼쳐 보기</button><br />
                <button type="button" class="btn btn-dark ma5ud">비율 일괄 설정</button><br />
                
            <p id="body2-section2-text" class="text-danger">* 그룹 인덱스 0개는 개별 슈트입니다.</p>
        </div>
    </div>

    <hr class="hr" />

    <div id="body3" class="row">

        <div id="body3-section1" class="col-md-5">
            <div class="row">
                <div id="body3-section1-name" class="col-6">
                    배정된 분류 코드
                </div>
                <div class="col-6">
                    <input type="email" class="form-control col-6" id="exampleInputEmail1" placeholder="분류 코드 찾기..">
                </div>
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">라인 명칭</th>
                                <th scope="col">슈트 명칭</th>
                                <th scope="col">점소 코드</th>
                                <th scope="col">점소 명칭</th>
                                <th scope="col">지점 코드</th>
                                <th scope="col">지점 명칭</th>
                                <th scope="col">도착지 코드</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*여기에 데이터 추가*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="body3-section2" class="col-md-2">

                <button type="button" class="btn btn-info col-md-11 ma5ud body3-btn1">분류코드 이동</button>

                <button type="button" class="btn btn-success col-md-5 ma5ud body3-btn2">선택</button>
                <button type="button" class="btn btn-outline-success col-md-5 ma5ud body3-btn2">해제</button>

                <button type="button" class="btn btn-success col-md-11 ma5ud body3-btn1">분류코드 추가</button>

                <button type="button" class="btn btn-warning col-md-11 ma5ud body3-btn1">분류코드 제거</button>

                <button type="button" class="btn btn-warning col-md-5 ma5ud body3-btn2">선택</button>
                <button type="button" class="btn btn-outline-warning col-md-5 ma5ud body3-btn2" style="color:chocolate">해제</button>
        </div>

        <div id="body3-section3" class="col-md-5">
            <div class="row">
                <div id="body3-section3-name" class="col-6">
                    분류 코드 리스트
                </div>
                <div class="col-6">
                    <input id="exampleInputEmail1" type="email" class="form-control col-6" placeholder="분류 코드 찾기..">
                </div>
                <div style="overflow-x: hidden; overflow-y: scroll; height: 420px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">점소 코드</th>
                                <th scope="col">점소 명칭</th>
                                <th scope="col">지점 코드</th>
                                <th scope="col">지점 명칭</th>
                                <th scope="col">도착지 코드</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">10033</th>
                                <td>김포출장소</td>
                                <td>10033</td>
                                <td>김포출장소</td>
                                <td>000</td>
                            </tr>
                            <tr>
                                <th scope="row">30265</th>
                                <td>D&Shop(인성)</td>
                                <td>10084</td>
                                <td>도봉출장소</td>
                                <td>000</td>
                            </tr>
                            <tr>
                                <th scope="row">30266</th>
                                <td>D&Shop(인성)</td>
                                <td>10084</td>
                                <td>도봉출장소</td>
                                <td>000</td>
                            </tr>
                            <tr>
                                <th scope="row">10084</th>
                                <td>도봉출장소</td>
                                <td>10084</td>
                                <td>도봉출장소</td>
                                <td>000</td>
                            </tr>
                            <tr>
                                <th scope="row">10091</th>
                                <td>도봉센터</td>
                                <td>10091</td>
                                <td>도봉출장소</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">10303</th>
                                <td>3PL_굿프랜드</td>
                                <td>10120</td>
                                <td>3PL영업2팀(지점)</td>
                                <td>000</td>
                            </tr>
                            <tr>
                                <th scope="row">10248</th>
                                <td>3PL냉장</td>
                                <td>10120</td>
                                <td>3PL영업2팀(지점)</td>
                                <td>000</td>
                            </tr>
                            <tr>
                                <th scope="row">10249</th>
                                <td>3PL냉장택배</td>
                                <td>10120</td>
                                <td>3PL영업2팀(지점)</td>
                                <td>000</td>
                            </tr>
                            <tr>
                                <th scope="row">10389</th>
                                <td>3PL성남택배</td>
                                <td>10120</td>
                                <td>3PL영업2팀(지점)</td>
                                <td>000</td>
                            </tr>
                            <tr>
                                <th scope="row">10208</th>
                                <td>3PL성남센터</td>
                                <td>10120</td>
                                <td>3PL영업2팀(지점)</td>
                                <td>000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>


@code
{
    string plan = "1xxx DTK, Korea";
}