/*Bootstrap5 Update Fix*/
.bs5-fix-nav {
    padding: .5rem 1rem;
    padding-left: 1.5rem !important;
}

/*#out-frame {
    border: solid 1px gray;
    position: absolute;
    z-index: -1;
    margin-top: 30px;
    border-radius: 5px;
    width: 85%;
    height: 900px;
    margin-left: -10px;
}*/

/* --- Head Area --- */
#head-frame {
    border-radius: 5px;
    background-color: skyblue;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.head-select-frame {
/*    min-width: 131px;*/
}

.head-select {
    background-color: rgba( 255, 255, 255, 0.5 );
    border: none;
    max-width: 70%;
}




#body-frame {
    height: 800px;
/*    background-color: antiquewhite;*/
    word-break: break-all;
}

/* --- Body1 Area --- */
#body1 {
    justify-content: center;
    align-items: center;
    word-break: break-all;
    margin-top: 5px;
}

#body1-section1, #body1-section2, #body1-section3, #body1-section4, #body1-section5 {
    text-align: center;
}

#body1-section1 {
    text-align: center;
}

#body1-section2{

}

#body1-section3 {
/*    min-width: 158px;*/
}

#body1-section4 {
/*    min-width: 232px;*/
    padding: 0px;
}

#body1-section5 {
/*    min-width: 165px;*/
}

/*분류 계획의 이름 span 태그*/
#plan-name {
    color: forestgreen;
    font-weight: bold;
    font-size: 20px;
}




/* --- Body2 Area --- */
#body2 {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#body2-section1 {
    height: 230px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#body2-section2 {
    text-align: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}


/* --- Body3 Area --- */
#body3{
    height: 440px;
}
#body3-section1{

}
#body3-section2 {
    text-align: center;
    flex-direction: row-reverse;

}
#body3-section3{

}
#body3-section1-name, #body3-section3-name{
    text-align: center;
    font-size: 16px;
}
#body3-section1-name {
    color:blueviolet
}
#body3-section3-name{
    color:coral;
}


/*Custom*/
.show-border {
    border: solid 1px black;
}

.show-border2 {
    border: dashed 1px blue;
}

.btnSave {
    margin-bottom: 12px;
}

.color-white {
    color: white;
}

.btn-up {
    height: 4rem;
}
.hr{
    border: solid 1px darkblue;
}
.ma5ud{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Media Query*/
@media (max-width: 1300px) {
    .head-select {
        max-width: 80%;
    }
}

@media (max-width: 1100px) {
    .head-select {
        max-width: 90%;
    }
}

@media (max-width: 900px) {
    .head-select {
        max-width: 100%;
    }
}