/*Bootstrap5 Update Fix*/
.bs5-fix-nav {
    padding: .5rem 1rem;
    padding-left: 1.5rem !important;
}

/*#out-frame {
    border: solid 1px gray;
    position: absolute;
    z-index: -1;
    margin-top: 30px;
    border-radius: 5px;
    width: 85%;
    height: 900px;
    margin-left: -10px;
}*/

/* --- Head Area --- */
#head-frame {
    border-radius: 5px;
    background-color: skyblue;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.head-select-frame {
    min-width: 131px;
}

.head-select {
    background-color: rgba( 255, 255, 255, 0.5 );
    border: none;
}




#body-frame {
    height: 800px;
/*    background-color: antiquewhite;*/
    word-break: break-all;
}

/* --- Body1 Area --- */

#body1-frame {
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-bottom: 1px skyblue solid;
}

#body1-section1, #body1-section2, #body1-section3, #body1-section4, #body1-section5 {
    text-align: center;
}

#body1-section1 {
}

#body1-section2 {
}

#body1-section3 {
    min-width: 158px;
}

#body1-section4 {
    min-width: 232px;
    padding: 0px;
}

#body1-section5 {
    min-width: 165px;
}




/* --- Body2 Area --- */
#body2-frame {
    justify-content: center;
    align-items: center;
    border-bottom: 1px skyblue solid;
}
#body2-section1{

}
#body2-section2 {
    text-align: center;
    min-width: 170px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}


/* --- Body3 Area --- */
#body3{
    height: 440px;
}
#body3-section1{

}
#body3-section2 {
    text-align: center;
    min-width: 170px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
#body3-section3{

}


/*Custom*/
.show-border {
    border: solid 1px black;
}

.show-border2 {
    border: dashed 1px blue;
}

.btnSave {
    margin-bottom: 12px;
}

.color-white {
    color: white;
}

.btn-up {
    height: 4rem;
}

.nowrap {
    flex-wrap: nowrap !important;
}